<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Seating</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to seatings_path, class: button_class(theme: "transparent") do %>
      All Seatings
      <% end %>
      <%= link_to edit_seating_path(@seating), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Screen:</p>
        <p><%= @seating.screen %></p>
      </li>
      <li>
        <p class="font-semibold">Seat code:</p>
        <p><%= @seating.seat_code %></p>
      </li>
  </ul>
</div>
