<div id="<%= dom_id screen %>">
  <p>
    <strong>Theatre:</strong>
    <%= screen.theatre_id %>
  </p>

  <p>
    <strong>Screen name:</strong>
    <%= screen.screen_name %>
  </p>

  <p>
    <strong>Seat capacity:</strong>
    <%= screen.seat_capacity %>
  </p>

</div>
