<div id="<%= dom_id notification %>">
  <p>
    <strong>Customer:</strong>
    <%= notification.customer_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= notification.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= notification.description %>
  </p>

</div>
