<div id="<%= dom_id feedback %>">
  <p>
    <strong>Customer:</strong>
    <%= feedback.customer_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= feedback.date %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= feedback.message %>
  </p>

</div>
