<div id="<%= dom_id snack_order %>">
  <p>
    <strong>Snack:</strong>
    <%= snack_order.snack_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= snack_order.customer_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= snack_order.quantity %>
  </p>

</div>
